

  mat-dialog-content {
    margin-bottom: 20px;
  }
  
  mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  button {
    margin-right: 8px;
  }
  
form {
    padding: 15px;
    margin-top: 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }
  
  .custom-file {
    margin-top: 15px;
  }

  h1 {
    text-align: center;
    margin-bottom: 10px;

  }
  
  .form-group label {
    display: block;
    margin-bottom: 8px;
}


.custom-file-label {
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 8px 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.custom-file-input {
    position: relative;
    width: 100%;
    margin: 0;
    opacity: 0;
}

